@if $indent_all_categories_except_the_following == "false" {

  $indented_cats: str-to-list("#{$indent_select_categories}", "|");

  @each $subcat-id in $indented_cats {
    li.sidebar-section-link-wrapper {
      &[data-category-id="#{$subcat-id}"] {
      margin-left: 1em;
      }
    }
  }
}

@if $indent_all_categories_except_the_following == "true" {

  $not_indented_cats: str-to-list("#{$categories_not_to_indent}", "|");

  @each $cat-id in $not_indented_cats {
    li.sidebar-section-link-wrapper {
      &[data-category-id="#{$cat-id}"] {
      margin-left: 1em;
      }
    }
  }
}
